<!-- book-display.component.html -->
<app-navbar></app-navbar>

<!-- Main Container -->
<div class="main-container">
  <!-- Sidebar for Filters -->
  <div class="sidebar">
    <div class="filters">
      <h2>Filtres</h2>
      <div class="filter-group">
        <!-- Filtre pour les livres en promotion -->
        <label>
          <input type="checkbox" [(ngModel)]="filters.promotion" />
          Livres en réduction
        </label>
        <!-- Filtre pour le prix maximum -->
        <label class="price-filter">
          Prix max:
          <select class="price-select" [(ngModel)]="filters.prixMax">
            <option *ngFor="let price of priceOptions" [value]="price">{{price}}€</option>
          </select>
        </label>

      </div>

      <h2>Catégories</h2>
      <div class="category-group">
        <ul>
          <li *ngFor="let type of getCategoryTypes()" class="category-item">
            <h3>{{ type }}</h3>
            <div class="subcategory-container">
              <ul>
                <li *ngFor="let categorie of categoriesByType[type]" class="subcategory-item">
                  <label>
                    <input type="radio" name="category" [(ngModel)]="selectedCategory" [value]="categorie.id" />
                    {{ categorie.name }}
                  </label>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <!-- Buttons for Applying and Resetting Filters -->
      <div class="button-group">
        <button class="reset-button" (click)="resetFilters()">Réinitialiser</button>
        <button class="apply-button" (click)="applyFilters()">Appliquer</button>
      </div>
    </div>
  </div>

  <!-- Content for Books -->
  <div class="content">
    <div class="search-container">
      <input type="text" placeholder="Rechercher..." [(ngModel)]="searchTerm" (input)="filterBooks()" />
      <button><i class="fa fa-search"></i></button>
    </div>

    <div class="book-list-section">
      <h1>Liste des Livres</h1>
      <div class="book-list">
        <p *ngIf="filteredBooks.length === 0" class="no-books-message">Aucun livre disponible</p>
        <!-- Les éléments livres sont maintenant des divs -->
        <div *ngFor="let book of paginatedBooks" class="book-item">
          <img [src]="book.photos" [alt]="getImageAltText(book)" />
          <h3>{{ book.titre }}</h3>
          <p>{{ book.auteur }}</p>
          <p>{{ book.prix }}€</p>
        </div>
      </div>

      <!-- Pagination Controls -->
      <div *ngIf="totalPages > 1" class="pagination-controls">
        <button (click)="previousPage()" [disabled]="currentPage === 1">
          <i class="fa fa-chevron-left"></i> <!-- Flèche gauche -->
        </button>
        <span>Page {{ currentPage }} sur {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">
          <i class="fa fa-chevron-right"></i> <!-- Flèche droite -->
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
