<app-navbar></app-navbar>

<div class="back-button-container">
  <a class="back-to-books" [routerLink]="['/books']">
    <i class="fas fa-arrow-left"></i> Retour aux livres
  </a>
</div>

<div class="book-detail-container">
  <div class="image-container">
    <img *ngIf="book" [src]="book.photos" [alt]="getImageAltText(book)" />
  </div>

  <div class="info-container" *ngIf="book">
    <h1>{{ book.titre }}</h1>
    <h2>{{ book.auteur }}</h2>

    <p>
      <strong>Prix :</strong>
      <span *ngIf="book.remise > 0" class="original-price">{{ book.prix }}€</span>
      <span *ngIf="book.remise > 0" class="discounted-price">
        {{ (book.prix * (1 - book.remise / 100)).toFixed(2) }}€
        <span class="discount-label">-{{ book.remise }}%</span>
      </span>
      <span *ngIf="book.remise === 0">{{ book.prix }}€</span>
    </p>

    <p><strong>Catégories :</strong>
      <span *ngIf="formattedCategories">
        {{ formattedCategories }}
      </span>
    </p>

    <p><strong>Langue :</strong>
      <span>Anglais</span>
    </p>

    <div class="button-group">
      <button 
        (click)="addToCart(book)" 
        class="add-to-cart-button"
        [disabled]="isInCart"
        [class.disabled]="isInCart"
      >
        {{ isInCart ? 'Déjà ajouté au panier' : 'Ajouter au panier' }}
      </button>
    </div>
  </div>
</div>

<div class="description-container" *ngIf="book">
  <h1><strong>Description :</strong></h1>
  <p>{{ book.description }}</p>
</div>

<div class="recommended-books-container" *ngIf="recommendedBooks.length > 0">
  <h1>Livres recommandés</h1>
  <div class="recommended-books-list">
    <a *ngFor="let recommendedBook of recommendedBooks" 
       [routerLink]="['/book-detail', recommendedBook.id]" 
       class="recommended-book-link">
      <div class="recommended-book-item">
        <img [src]="recommendedBook.photos" [alt]="getImageAltText(recommendedBook)" class="recommended-book-image" />
        <div class="recommended-book-info">
          <h3>{{ recommendedBook.titre }}</h3>
          <p class="author">{{ recommendedBook.auteur }}</p>
          <p class="price">
            <span *ngIf="recommendedBook.remise > 0" class="original-price">{{ recommendedBook.prix }}€</span>
            <span *ngIf="recommendedBook.remise > 0" class="discounted-price">
              {{ (recommendedBook.prix * (1 - recommendedBook.remise / 100)).toFixed(2) }}€
              <span class="discount-label">-{{ recommendedBook.remise }}%</span>
            </span>
            <span *ngIf="recommendedBook.remise === 0">{{ recommendedBook.prix }}€</span>
          </p>
        </div>
      </div>
    </a>
  </div>
</div>

<app-footer></app-footer>
