<!-- Contenu de la modale de connexion -->
<div *ngIf="!isForgotPasswordModalOpen && !isSecretQuestionModalOpen" class="modal-background">
  <div class="login-modal" [ngClass]="{'alert-danger': isError, 'alert-success': registrationSuccess}">
    <h1>Connexion</h1>
    <!-- Affichage du message d'erreur ou de succès -->
    <div *ngIf="errorMessage || successMessage || registrationSuccess" class="alert" [ngClass]="{'alert-danger': isError, 'alert-success': successMessage || registrationSuccess}">
      <p [innerHTML]="errorMessage || successMessage || (registrationSuccess ? 'Inscription réussie ! Vous pouvez maintenant vous connecter.' : '')"></p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Adresse Email</label>
        <input id="email" formControlName="email" type="email" placeholder="Entrez votre adresse email" />
        <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || isSubmitted)">
          <small class="error" *ngIf="loginForm.get('email')?.errors?.['required']">
            L'adresse email est requise.
          </small>
          <small class="error" *ngIf="loginForm.get('email')?.errors?.['email']">
            L'adresse email n'est pas valide.
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="mdp">Mot de passe</label>
        <input id="mdp" formControlName="mdp" type="password" placeholder="Entrez votre mot de passe" />
        <div *ngIf="loginForm.get('mdp')?.invalid && (loginForm.get('mdp')?.touched || isSubmitted)">
          <small class="error" *ngIf="loginForm.get('mdp')?.errors?.['required']">
            Le mot de passe est requis.
          </small>
        </div>
      </div>
      <div class="form-group captcha-container">
        <re-captcha 
          siteKey="6LfBByAqAAAAAPNgauPyxZPxlgeB6pa8_cuHhD8X" 
          (resolved)="handleCaptchaResponse($event)" 
          name="recaptcha"
          required
          [class.is-invalid]="!recaptchaToken && (loginForm.touched || isSubmitted)">
        </re-captcha>
      </div>
      <p class="forgot-password">
        <a (click)="openSecretQuestionModal()">Mot de passe oublié ?</a>
      </p>      
      <p class="no-account">Pas de compte ? <a href="/register">Inscrivez-vous</a></p>
      <button type="submit" [disabled]="!loginForm.valid || !recaptchaToken">Se connecter</button>
    </form>
  </div>
</div>

<!-- Modale pour la réinitialisation de mot de passe -->
<div *ngIf="isSecretQuestionModalOpen" class="modal-background">
  <div class="reset-modal">
    <h1>Réinitialiser le mot de passe</h1>
    <form [formGroup]="secretQuestionForm" (ngSubmit)="submitSecretQuestionAnswer()">
      <!-- Question de sécurité -->
      <div class="form-group">
        <label for="securityAnswer">{{ securityQuestion }}</label>
        <input id="securityAnswer" formControlName="securityAnswer" type="text" placeholder="Répondez à la question de sécurité" />
        <div *ngIf="secretQuestionForm.get('securityAnswer')?.invalid && (secretQuestionForm.get('securityAnswer')?.touched || isSubmittedSecretQuestion)">
          <small class="error" *ngIf="secretQuestionForm.get('securityAnswer')?.errors?.['required']">
            La réponse à la question de sécurité est requise.
          </small>
        </div>
      </div>

      <button type="submit" [disabled]="!secretQuestionForm.valid">Envoyer le lien de réinitialisation</button>
    </form>
    <button class="back-button" (click)="closeSecretQuestionModal()">&#8592; Retour</button>
  </div>
</div>
