/* Conteneur de la modale */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  /* Modale de connexion */
.login-modal {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 360px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  /* Titre de la modale */
.login-modal h1 {
    margin-top: 0;
    color: #cc0000;
    text-align: center;
    cursor: default; /* change 'no-cursor' à 'default' */
    user-select: none; /* Empêche la sélection du texte */
    pointer-events: none; /* Empêche les interactions de la souris */
    /* contenteditable: false; /* Non nécessaire pour un <h1> */
}
    
  /* Styles pour le formulaire */
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ccc;
    cursor: default;
    user-select: none;
    width: 100%; /* Assurez-vous que les labels occupent toute la largeur disponible */
    margin-left: 10px;
  }
  
  .form-group input {
    width: 100%;
    max-width: 300px; /* Ajustez la largeur maximale si nécessaire */
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #222;
    color: #fff;
    box-sizing: border-box;
    text-align: left;
    margin: 0 auto; /* Centre les inputs */
  }
  
  /* Styles pour le CAPTCHA */
  .captcha-container {
    width: 100%;
    max-width: 300px; /* Ajustez la largeur maximale si nécessaire */
    margin-bottom: 40px;
    text-align: right; /* Aligne le contenu à droite */
    margin: 0 auto; /* Centre le conteneur du CAPTCHA */
  }
  
  .captcha-container re-captcha {
    display: inline-block;
  }
  
  /* Styles pour le bouton */
  button {
    width: 100%;
    max-width: 300px; /* Ajustez la largeur maximale si nécessaire */
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #cc0000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px auto; /* Centre le bouton */
  }
  
  button:hover {
    background-color: #a30000;
  }
  
  button:disabled {
    background-color: #999;
    color: #666;
    cursor: not-allowed;
  }
  
  /* Styles pour les messages d'erreur */
  .error {
    color: red;
    margin-left: 12px;
    margin-top: 5px;
  }
  
  .invalid-feedback {
    color: red;
  }

  /* Styles pour le lien "Pas de compte ?" */
.no-account {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .no-account a {
    color: #cc0000;
    text-decoration: none;
    font-weight: bold;
  }
  
  .no-account a:hover {
    text-decoration: underline;
  }
  